[2016-02-15 13:36] HassuX opened #1 "BUG: Settings: Edit in cluster item does not show IP-address"
When you have cluster items and try to edit one, it does not show IP-address (field is empty)

![image](https://cloud.githubusercontent.com/assets/17140545/13050088/cfe896b0-d3f9-11e5-82a9-550a4fca3673.png)

![image](https://cloud.githubusercontent.com/assets/17140545/13050104/e5196794-d3f9-11e5-834d-70b75661bcc1.png)

[2016-02-16 14:17] #1 closed, assigned to iqqmuT

[2016-02-16 14:35] viliman commented on #1
Technically this can be closed only when tested against official release and confirmed. But don't worry if we have problem with this the testing team will open new ticket :) Thanks for the fix anyway!

[2016-02-16 14:48] HassuX opened #2 "Feature request: Settings / IP-address fields"
Usually in IP-address fields, when you type . (dot), focus moves to next field.

So then you can type IP-address by just typing for ex. "10.20.30.40", now you have to type "10[tab]20[tab]30[tab]40".

Jarno: Add TAG's feature & nice, since I'm not able to do that...

[2016-02-16 14:52] viliman commented on #2
@McLad76 @iqqmuT thumbs up or down?

[2016-02-16 14:55] HassuX opened #3 "Settings: Admin settings: No navigation buttons to get back to User settings / Playlists"
When you are in Admin settings page, there are no navigation buttons that would get you back to USB / Playlists / User settings page (buttons in picture, they are shown on all other pages):

![image](https://cloud.githubusercontent.com/assets/17140545/13079661/0d5db1c2-d4ce-11e5-9294-79e46c7d4304.png)

[2016-02-16 15:19] HassuX opened #4 "Settings: Admin settings: NTP Server hostname allows special characters"
Hostname field on NTP server settings allows use of 'illegal' characters, like ääkköset.

![image](https://cloud.githubusercontent.com/assets/17140545/13080463/62cba922-d4d1-11e5-9d95-613e6aabd6f5.png)

[2016-02-16 16:19] iqqmuT commented on #2
Should be doable, in the bright future...

[2016-02-16 16:23] viliman commented on #3
@McLad76 and @iqqmuT thumbs up or down

[2016-02-17 19:46] foilharp commented on #3
Just dimes... In end use, there is meant to be username/password check (possibly by HTTP server) before loading admin settings making it harder to arbitrary user accidentally wander there at all. Also changes made to admin settings often need reboot of device using physical button in box, which naturally would/should reboot WUI. If after settings changing reboot should show admin settings page, th

[2016-02-18 11:31] foilharp commented on #4
Bug addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/44c5b27a688f06af7fed5589f2e7ce2c62e6334c

[2016-02-22 00:12] McLad76 commented on #3
It would be nice to have navigation button anyway, because sometimes you just want to check if configuration is Ok.

[2016-02-22 00:14] McLad76 commented on #2
Yes please :)

[2016-02-24 08:24] viliman commented on #3
Assigning this for @foilharp todo

[2016-02-25 13:33] foilharp commented on #3
Bug addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/d20baf94a7243474a74c3ef24def3548d56562b6

[2016-03-10 09:11] viliman opened #5 "BUG: Playback continues after EOF (in rare cases?)"
In local LCD the screen is black and time is running both in local UI and Web UI
![421232455_5903711901006784348](https://cloud.githubusercontent.com/assets/13642417/13664584/d4c99df4-e6b0-11e5-9b02-c277674b5a14.jpg)

[2016-03-16 14:23] TaruVare opened #6 "BUG: Check item name in a playlist"
Test case ID: PL_MUST_3
Browser: Chrome, version 49.0.2623.87 m, Mozilla Firefox 35.0.1 and IE 11

Item title doesn't show in playlist for item that does have name: screen shot Check item name shows the title that has name, but Check item and name and length test case fails - screen shot shows that name don't appear in the list.

![check item name 160316](https://cloud.githubusercontent.com/assets

[2016-03-16 14:25] TaruVare opened #7 "BUG: Check item length in a playlist"
Test case ID: PL_MUST_4
Browser: Chrome, version 49.0.2623.87 m, Mozilla Firefox 35.0.1 and IE 11

Item lengths are missing from all items.

[Check item name and length test case fails 160316.txt](https://github.com/rameplayerorg/rameplayer-defects/files/176131/Check.item.name.and.length.test.case.fails.160316.txt)

![check item name and check item length in a playlist_failed_160316](https://cloud

[2016-03-16 14:34] TaruVare opened #8 "BUG: Rearrange items in a playlist"
Test case ID: PL_MUST_6
Browser: Chrome, version 49.0.2623.87 m
-> works in Mozilla

Items cannot be rearranged in a playlist. Cursor changes as a grabbing tool when moved above list icon on the right side of playlist item, but items don't move.

![rearrange items in a playlist fails 160316](https://cloud.githubusercontent.com/assets/17190958/13815843/d9235550-eb94-11e5-9448-51c24e672dc1.PNG)
[Rea

[2016-03-17 08:14] TaruVare opened #9 "BUG: Save work list as My playlist"
Test case: PL_IMPT_1
Browser: Chrome, version 49.0.2623.87 m, Mozilla Firefox 35.0.1 and IE 11

New playlist with name My playlist appears, but items in the list are not visible until I click the name of the My playlist. It would be clearer to have a visible information that playlist is closed (+/- icons) and whole list open as a default.

![save work list and my playlist fail 170316](https://clou

[2016-03-17 08:24] TaruVare opened #10 "BUG: Edit saved playlist"
Test case: PL_IMPT_4
Browser: Chrome, version 49.0.2623.87 m,  Mozilla Firefox 35.0.1 and IE 11

There is no option/function to add new items to the saved playlist from work list.

[Save work list and My playlist fail 170316.txt](https://github.com/rameplayerorg/rameplayer-defects/files/177475/Save.work.list.and.My.playlist.fail.170316.txt)

[2016-03-17 08:32] TaruVare opened #11 "BUG: Remove item from saved playlist"
Test case: PL_IMPT_5
Browser: Chrome, version 49.0.2623.87 m, Mozilla Firefox 35.0.1 and IE 11

Items don't disappear from the saved playlist. The "Remove" command is visible when clicking menu icon, but nothing happens.

![save work list and my playlist fail 170316](https://cloud.githubusercontent.com/assets/17190958/13840440/4003abb2-ec2b-11e5-9e29-950f4c9c84a8.PNG)

[Save work list and My playl

[2016-03-17 08:45] TaruVare opened #12 "BUG: Remove saved playlist"
Test case: PL_IMPT_8
Browser: Chrome, Mozilla Firefox 35.0.1 and IE 11

When selecting Remove from saved playlist, the playlist is emptied but it doesn't disappear fully.

![remove saved playlist fail 170316](https://cloud.githubusercontent.com/assets/17190958/13840749/1ffd6dc4-ec2d-11e5-9ecc-ae611b2bbb99.PNG)

[2016-03-17 09:16] TaruVare opened #13 "NEW FEATURE: Remove playing item from playlist with a warning only"
Browsers: Chrome, Mozilla Firefox and IE 11

Currently playlist allows to remove playing item without any warning and the removed item just stops playing.

To ensure that playing item would not be removed accidentally in the middle of play, it would be better to have a confirmation/warning-type of notification before item is removed, a pop-up which would say something like: "You are removing a pla

[2016-03-17 11:07] viliman commented on #8
Works in IE11

[2016-03-17 12:29] viliman opened #14 "BUG: Synchronize try when cluster is NOT configured"
CASE ID: Clu-B-001
TITLE:
Trying to synchronize when cluster is NOT configured
PRE-REQUISITE:
No cluster configuration
STEPS:
Select “Synchronize” from menu

EXPECTED RESULTS:
There should be NO “Synchronize” option if NO cluster configured

NOW PRODUCES EXCEPTION:
![clusternotdefinederror](https://cloud.githubusercontent.com/assets/13642417/13845886/ae24dc0e-ec4b-11e5-89df-4e42b144e4a1.png)

[2016-03-19 10:00] HablasNapa opened #15 "BUG: WEBUI: Double clicking subfolders adds their content permanently to the file list"
Double clicking the subfolder gives this error:
![20160319-1gui_error](https://cloud.githubusercontent.com/assets/17044875/13897829/04f61a66-edc8-11e5-9552-1602b07e2f96.PNG)

As a result the content of the directory is listed twice:
![20160319-1agui_error-big](https://cloud.githubusercontent.com/assets/17044875/13897902/1d177426-edca-11e5-8269-2cedcf4cda38.PNG)

Folders content persists in the vie

[2016-03-19 10:23] HablasNapa opened #16 "BUG: first item played in directory generates an I2S SYNC error to the log"
Mar 19 10:25:52 rame kern.info kernel: [ 4743.821823] usb 1-1.5: new high-speed USB device number 8 using dwc_otg
Mar 19 10:25:52 rame kern.info kernel: [ 4743.924356] usb 1-1.5: New USB device found, idVendor=090c, idProduct=1000
Mar 19 10:25:52 rame kern.info kernel: [ 4743.924373] usb 1-1.5: New USB device strings: Mfr=1, Product=2, SerialNumber=3
Mar 19 10:25:52 rame kern.info kernel: [ 4743.9

[2016-03-20 06:25] HablasNapa opened #17 "BUG: Backend: Uknown "ffprobe" error at startup"
Uknown error is generated at every start up called:
Mar 20 06:33:42 rame user.err RAME: /usr/share/rameplayer-backend/plugins/ffprobe.lua:23: attempt to index a nil value (global 'RAME')

Below is the entire log:
Mar 20 06:32:48 rame syslog.info syslogd started: BusyBox v1.24.1
Mar 20 06:32:49 rame daemon.info dhcpcd[1097]: dev: loaded udev
Mar 20 06:32:49 rame daemon.warn dhcpcd[1097]: all: IPv6

[2016-03-20 11:39] #3 closed, assigned to foilharp

[2016-03-20 16:16] viliman commented on #16
@jlauha any comments for this I2S Sync error

[2016-03-20 16:17] viliman commented on #17
@jlauha any comments?

[2016-03-20 18:14] jlauha commented on #16
As long as sound can be heard and there aren't audible problems, it should be harmless. It's seen very commonly seen in the rame log (and in other hardware used by the same audio card). Also earlier confirmed by tteras that it shouldn't matter. (based on info searched from the web...)

[2016-03-20 18:21] jlauha commented on #17
ffprobe.lua:23 is simply call to RAME.log. Should probably add simple validation (check for nil), assuming the issue is with "self.uri" ...

Not sure but I was under impression this is connected to #15.

[2016-03-20 18:40] #17 closed, assigned to nobody

[2016-03-20 18:44] fabled commented on #6
https://github.com/rameplayerorg/rameplayer-backend/commit/2caa23d8cf85404637e9be66cb899b4d4613a925 probably fixes this too.

[2016-03-20 18:44] fabled commented on #7
https://github.com/rameplayerorg/rameplayer-backend/commit/2caa23d8cf85404637e9be66cb899b4d4613a925 probably fixes this too.

[2016-03-21 12:31] HassuX opened #18 "BUG: Settings IP-address settings"
It's not possible to assign static ip-address to device.

![ip-address](https://cloud.githubusercontent.com/assets/17140545/13918645/5e149190-ef71-11e5-8ec3-ab0bf768a746.PNG)

Gui just says 'Saving admin settings failed', and nothing is written to <ip-address>:8000/log

[2016-03-21 12:40] jlauha commented on #18
Does it work if alternative DNS is also set? (even if it is same with preferred DNS)

[2016-03-21 12:43] HassuX opened #19 "BUG: Settings: NTP-settings does not work"
Assigning NTP-server does not seem to do anything (it saves successfully, but loses entered value after browsing away from settings page.

Same thing with manual date field, it does not change anything.

Manual time change = seems to go back in time for some minutes (I did not find any logic..), but does not change to desired time. And it allows impossible times to be entered, larges value that wo

[2016-03-21 12:49] HassuX opened #20 "NEW FEATURE: Output always to headphones OR warning that it's disabled when only HDMI"
If audio port is selected to be 'HDMI', no sound is coming from headphones jack.

Either enable audio output to headphones jack or give some kind of warning when HDMI is selected to be only audio output device and:
- when adjusting headphones volume from web gui
- when using volume control in front panel of device

[2016-03-21 13:06] HassuX opened #21 "BUG: Warning that reboot is required is not shown in some cases"
Example:
- I change setting that requires reboot
- I get warning that it requires a reboot
- I reboot device
- I do not browse away and/or refresh settings page during reboot
- I change another setting that requires reboot
- I do not get any warning on web-gui, LCD display on front panel does say 'restart pending'

[2016-03-21 13:08] HassuX commented on #18
Nope, did not found any working combination.

Tried with one, two or zero DNS-servers. With or without GW, tried different subnets etc.

[2016-03-21 13:11] HassuX opened #22 "Feature request: Reboot button on settings page"
Some setting changes require device to be rebooted before settings are applied (ex. video output resolution).

It would be nice to have a reboot button (with confirmation ;)) to restart device, without needing to poweroff -> poweron physically.

[2016-03-21 13:17] HassuX commented on #18
https://wiki.rameplayer.org/testreports:testreport_2016-03-21_13_52_settings_janne

[2016-03-21 13:18] HassuX commented on #19
https://wiki.rameplayer.org/testreports:testreport_2016-03-21_13_52_settings_janne

[2016-03-21 13:28] viliman commented on #20
@fabled How feasible is the option of enabling audio output for the headphones? FYI @McLad76

[2016-03-21 13:33] viliman commented on #22
Comments? Automatic Reboot with Dialog? Or/And Reboot button? I would prefer automatic reboot with dialog confirmation.. @McLad76 @mkheikkinen @fabled @jlauha @iqqmuT @foilharp

[2016-03-21 13:34] viliman commented on #21
fyi @foilharp

[2016-03-21 13:46] jlauha commented on #22
Reboot button (one can change multiple things before rebooting)
=> confirmation dialog in webui: "Are you sure? Reboot/Cancel"
=> wait screen: "Please wait ... rebooting (60 seconds)"
=> automatic refresh/reload in browser to root page (assuming same IP address!)

About that last step: might want to add warning about need to manually check for ip if it changes after boot (in case of DHCP). If usin

[2016-03-21 14:18] fabled commented on #20
We would need to add new audio clocking mode where HDMI is the master. I'd rather not try to implement at time being.

[2016-03-21 15:08] viliman commented on #20
Would you @jlauha implement warning in the local UI. Can you make separate ticket for that in backend repo and refer it here?

[2016-03-21 15:09] viliman commented on #20
@foilharp would you make same kind of ticket for the webui

[2016-03-21 15:10] fabled commented on #6
Fix verified.

[2016-03-21 15:10] #6 closed, assigned to iqqmuT

[2016-03-21 15:10] fabled commented on #7
Fix verified.

[2016-03-21 15:10] #7 closed, assigned to iqqmuT

[2016-03-21 15:52] HablasNapa opened #23 "Feature Request: Entering subfolders using the Local UI"
If there are any media files in subfolders they are inaccessible from the Local UI.

This feature would allow more comprehensive basic usage in Local UI without having to resort to Web UI.

[2016-03-22 12:32] foilharp commented on #15
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/774e579a8f345e49d1f812e7fc73df41b3e32b0b

[2016-03-22 13:04] foilharp commented on #18
This error comes (or should come) if all the inserted values are valid, but something goes wrong in saving process otherwise. Is there any setting at all saved successfully on admin side? Will the device show "Restart pending" on LCD regardless?

[2016-03-22 16:06] HassuX commented on #18
Device does not show restart pending after trying to save. NTP settings does not seem to save either, even though it does not give any error (there is a own ticket for that NTP settings).

Video output, audio output and device name (hostname) does save succesfully on admin page.

[2016-03-23 11:33] iqqmuT commented on #12
I could not reproduce this bug with 0.7.2 and FF 45 and Chrome 49. Playlist was removed ok.

[2016-03-23 14:43] iqqmuT commented on #10
With referred commit user can now drag and drop items across playlists. Currently it works so that item will be appended as the last item in the destination playlist. Would require backend changes to support adding to a specific index in destination playlist.

[2016-03-24 11:50] foilharp commented on #21
Maybe because for some reason checkServerNotifications() in core/statusservice.js does not get fired. It maybe should do so explicitly always after $save gets through. </innerpondering>

[2016-03-24 20:10] foilharp commented on #21
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/616e95c1d3abaf7c5a77f206ccc82763a44eb147
However, reboot of the web UI by navigating to http://device-ip/ is mandatory after rebooting the device itself. There-is-to-be a button in UI which does both reboots but thats another ticket :)

[2016-03-25 16:14] foilharp commented on #18
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/f41a12d2d5841eaebf1ff61144c0279b1dc70e71

[2016-03-26 08:48] fabled commented on #16
Yes, comments I've seen is that the I2S SYNC error is harmless and should be ignored. If it causes audible problems, we'll look at it. But I'll close this for now as "no fix is needed".

[2016-03-26 08:48] #16 closed, assigned to nobody

[2016-03-26 08:51] fabled commented on #5
I have not been able to reproduce this. This was a known issue on earlier versions. Please comment if this has been reproduced with >0.7.0 or newer firmware.

[2016-03-26 12:30] TaruVare commented on #12
The bug appears to be related to removal of saved playlist when there are more than one saved playlists. After the reboot (when playlists are initally empty) removing last saved list removes all saved lists and leaves this empty line. After that removing works ok. I tested with Chrome, FF and IE11.

Steps to reproduce:
Reboot RamePlayer (so that playlist is empty and no saved playlists appear)
Add

[2016-03-26 12:35] TaruVare commented on #10
I was not able to drag and drop items between playlists (with IE11 nor FF, with Chrome whole dragging still don't work). It looks like item can be dragged to another playlist, but it doesn't appear to the destination playlist. Tested with firmware 0.7.2.

[2016-03-26 12:49] iqqmuT commented on #10
Git commit was not included in firmware 0.7.2 yet, so please wait for the next release. :)

[2016-03-27 12:01] viliman opened #24 "Online help"
Do we need Online help for Rame configuration?

@McLad76

What would be the supported languages: English, Finnish, Russian?

[2016-03-28 15:45] jlauha commented on #20
Local UI warning added in https://github.com/rameplayerorg/rameplayer-backend/commit/e8e41414c3a1f338184c91ba0a2fcc192de18bb0

[2016-03-30 09:52] foilharp commented on #20
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/f6e5788832f4bfda36a7ed156bae87a17d8b1b06

[2016-04-05 17:50] foilharp commented on #19
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/8e90be72da6bde297c9716a950dcf098a1d209cf

[2016-04-06 09:36] HassuX opened #25 "BUG: DHCP-server does not work"
Multiple issues with this one.
1. udhcpd service is always in 'crashed' state after reboot, does not matter if DHCP-server is enabled or not in admin-page. It works if you go to OS and restart service.
2. There are some pre-defined settings in /etc/udhcpd.conf, at least following should be removed:
   opt     wins    192.168.10.10
   option  dns     129.219.13.81   # appended to above DNS servers

[2016-04-06 09:37] HassuX opened #26 "BUG: Audio output is not in sync when 'Both' is selected"
When both (hdmi & analog) audio ouput is selected, HDMI-audio is not in sync.

This is a known issue in platform (raspberry)

[2016-04-06 10:13] HassuX commented on #19
Manual settings work now, but ntp does not, setting hostname does nothing (afaik), and ntp service is not started.

[2016-04-08 14:55] TaruVare commented on #10
Adding new item to a saved playlist has some issues:
1. With Chrome and IE browsers, after dragging new item to the saved playlist, the only item that can be rearranged after that is the new item.
2. With Firefox new item can be moved to the bottom of the list, but if I rearrange items in playlist after that or try to add another new item, then the already added item disappears from the saved play

[2016-04-09 10:45] viliman commented on #26
Warning of that should be good to add though.
Created a issue for that:
https://github.com/rameplayerorg/rameplayer-webui/issues/28

[2016-04-09 10:45] #26 closed, assigned to nobody

[2016-04-09 23:49] foilharp commented on #26
Adressed in https://github.com/rameplayerorg/rameplayer-webui/commit/9b26cc9d1cb2b716a47c1393cffbfc9ad71604e6

[2016-04-10 12:44] TaruVare commented on #8
Rearraging playlist items works now in Chrome browser as in IE11 and Mozilla Firefox.

[2016-04-10 12:44] #8 closed, assigned to iqqmuT

[2016-04-10 12:48] TaruVare commented on #9
Saved playlist is now initially open, when it is saved. This issue is fixed.

[2016-04-10 12:48] #9 closed, assigned to iqqmuT

[2016-04-10 14:27] TaruVare commented on #12
Firefox browser don't reproduce this issue any more. IE 11 and Chrome still do.

[2016-04-10 14:31] TaruVare commented on #11
This issue exists still in v0.7.4

[2016-04-21 09:54] viliman opened #27 "BUG: When setting Static IP that is already in use the webui will report the wrong IP"
Steps to reproduce:
1. Have another computer in LAN with address A
2. Set the RAME to static IP with address A (same as the other computer)

Outcome:
Local UI will show the correct IP but the webui shows the one is set.
![img_2237](https://cloud.githubusercontent.com/assets/13642417/14706249/3beca888-07c6-11e6-851b-1a9e0414fb05.JPG)
![bug_ip_exists_in_lan](https://cloud.githubusercontent.com/asset

[2016-04-21 10:55] viliman commented on #18
@HassuX I think setting static IP works now and you have verified it? If so you can close the issue..

[2016-04-21 11:00] viliman commented on #21
@HassuX is this now fixed (I know the whole chain should be more logical) but at least the bug that you described. If ok you could close by saying "fix verified in v.0.7.4"

[2016-04-21 11:46] viliman commented on #4
@HassuX is this fix now verified?

[2016-04-23 20:12] HablasNapa opened #28 "Feature request: Cluster: Export/import all settings made in GUI"
This came up in the cluster testing and would also be good to have in rameplayer overall.

The export/import should include:
- Devices in the cluster
- Playlists in the cluster

Presently these have to be entered manually each time even when there is no change in the cluster setup.

[2016-04-23 20:19] HablasNapa opened #29 "Feature request: Cluster: Notification if a device in cluster goes unresponsive"
It would be good if the GUI would inform when connection to a rameplayer in the cluster is lost.

Presently the slider in the GUI stops moving when a rameplayers connection is lost but a more obvious indicator would be good.

[2016-04-23 20:27] HablasNapa opened #30 "BUG: Cluster: Playlists are lost if a device in cluster reboots"
During testing one of the devices in cluster was restarted to see what would happen when power and network was restored.

The device automatically returns to the cluster but without the playlist that was set for it pre-boot.

The result was that the first item in the directory was played when a command of "**play**" was given from the GUI to the cluster with the delay set for that device.

[2016-04-23 20:46] HablasNapa opened #31 "BUG: Cluster: playlist command queue"
Scenario: Rameplayer1 in cluster finnishes playing **file A** and rameplayer2 is playing the corresponding **file A** in it's playlist with a delay of 5 seconds.
Command of **play** is given from GUI to the cluster.

Result: Rameplayer1 starts playing **file B** while rameplayer2 continues playing **file A** and then stopping in the end of the file.

Either the cluster command should not be played

[2016-04-23 20:56] HablasNapa opened #32 "BUG: Cluster: rebooted device loses some settings"
Scenario: Cluster is playing the assigned playlist and one of the rameplayers is rebooted. Rest of the cluster finishes playing the assigned file.

Command of **play** is given from cluster GUI.

Result: Other rameplayers move on to the next file in their playlist except for the rebooted one which starts to play the first file in directory.

It appears that this result comes when a device rejoins

[2016-04-23 20:59] #30 closed, assigned to nobody

[2016-04-23 21:00] HablasNapa commented on #30
Duplicate case.

Going to sleep...

[2016-04-24 07:50] viliman commented on #28
https://github.com/rameplayerorg/rameplayer-webui/issues/17

this should be implemented and there is ticket for
https://github.com/rameplayerorg/rameplayer-webui/issues/18

@iqqmuT can comment what is the status

[2016-04-24 07:54] viliman commented on #31
@iqqmuT does correct behavior need backend support?

[2016-04-24 08:00] viliman commented on #32
Yes this is know problem and missing feature from backend it doesn't store the playlist at the moment

[2016-04-24 08:02] viliman commented on #30
https://github.com/rameplayerorg/rameplayer-defects/issues/32

[2016-04-24 19:56] iqqmuT commented on #31
I would vote for the first behaviour: play command is blocked in webui when any other cluster unit is in state of playing. If user wants to force playing, then he needs to:
1. Click Stop (stops all units)
2. Click Play (plays file B in all units)

This wouldn't require any backend changes.

[2016-04-24 22:22] iqqmuT commented on #28
@HablasNapa what did you mean by "have to be entered manually each time"? Like after closing the browser or rebooting the device?

We should get permanent playlists in somewhere near future, does that affect this feature request?

[2016-04-25 05:46] viliman commented on #31
👍 I think this was the behavior that was chosen on forum too a while back.

[2016-04-25 09:57] HassuX commented on #4
Yes, this is fixed (tested on v.0.7.4)

[2016-04-25 09:57] #4 closed, assigned to HassuX

[2016-04-25 09:59] HassuX commented on #18
Yes, static IP address works. @viliman

[2016-04-25 09:59] #18 closed, assigned to HassuX

[2016-04-25 10:08] HassuX commented on #21
Fix verified in v0.7.4 @viliman

[2016-04-25 10:08] #21 closed, assigned to HassuX

[2016-04-25 10:33] HassuX commented on #27
Couple of comments.

I tested this, and I'm able to reproduce.

So, originally my rame was using DHCP, and received address 192.168.1.198 from DHCP server (WLAN router).

I assigned IP-address 192.168.1.50 to my laptop.

I assigned IP-address 192.168.1.50 to rame

When rebooting device, this is what log says:
Apr 25 10:12:14 JanneRame2 daemon.info dhcpcd[1113]: eth0: carrier acquired
Apr 25 10:12:

[2016-04-25 10:38] viliman commented on #27
Thanks for debugging this! I think the RAME is here doing exactly as we would want it to be doing but we need to provide better feedback for the user in the webui if possible. We toss the ball to @foilharp to be implemented

[2016-04-25 12:05] iqqmuT commented on #31
With referred commit play button is disabled when main unit is `stopped` and at least one of the cluster units is not `stopped`.

[2016-04-25 12:55] foilharp commented on #27
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/39fe18e88003c69aed92d64a44edeb7a3c759127

[2016-04-26 08:41] viliman commented on #31
This can be verified in next release that is tbd

[2016-05-03 14:30] iqqmuT commented on #29
Referred commit displays a red toastr error notification if connection is lost to a cluster unit. The toastr will be closed automatically when the connection is restored.

[2016-05-04 16:38] jlauha commented on #32
Mid-development testing report, using current development versions of backend & webui & utils:

If cluster player is rebooted (backend restart), controlling player's webui will correctly notice the player missing (red toaster), and will also notice when it comes back online (red toaster goes away).

After this the Synchronized playlist view looks like "everything is normal": cluster player playlis

[2016-05-05 13:36] viliman commented on #32
Great report @jlauha

[2016-05-05 15:53] jlauha commented on #32
Also tried this:
- save working cluster configuration to a local file (json)
- verified importing it works in another browser
- rebooted cluster player
- imported the cluster configuration json for use
  Result: synced playlist of the rebooted player shows up as empty playlist in the cluster.

[2016-05-05 18:14] iqqmuT commented on #32
Good thorough work @jlauha!
Backend is not persisting playlist item ids yet and that might be the root problem. Let's wait for backend changes and try again.

[2016-05-06 14:52] jlauha opened #33 "Unable to dismiss IP display"
Tested on v0.8.0 (as of May 6, 2016) with just a plain RPi2.

The IP display comes up when booting, and player goes to "playing" state with the cursor set at the first media item (if any usb media is inserted to rpi). However, the media is not played but instead just the IP display is visible. At this state, it is impossible to pick any other media file, since cursor cannot be changed when player

[2016-05-06 18:15] jlauha commented on #33
Also whole cluster stops working properly if even one player in cluster is plain rpi affected by this bug.

[2016-05-07 17:44] jlauha commented on #33
This issue seems to be fixed by https://github.com/rameplayerorg/rameplayer-backend/commit/bd647ff41650aac8c3c3ee3bdb911fdc0157cbe7
(However, on a plain rpi, the ip display will always keep showing and can't be dismissed...)

[2016-05-07 17:44] #33 closed, assigned to nobody

[2016-05-08 15:52] TaruVare commented on #11
In version 0.8.0 issue is fixed. Items can be removed in all browsers.

[2016-05-08 15:52] #11 closed, assigned to iqqmuT

[2016-05-08 15:56] TaruVare commented on #12
Issue exists now again in all browsers. But when RaMe player is rebooted, then not removed playlist appears back. Steps to reproduce as earlier, but add reboot as a final step. See attached pictures to see situation after removing second saved playlist and after reboot.

![remove saved list_results_080516](https://cloud.githubusercontent.com/assets/17190958/15098802/4cecbc3c-154e-11e6-833d-0bda94f

[2016-05-08 16:02] TaruVare opened #34 "USB don't let me select root folder anymore"
Issue is not related to any of my test cases, but I noticed that now in any browser I cannot get back to the USB root folder.

Steps to reproduce:
1. Select USB (FRIDAY in UI now)
2. Open any subfolder, e.g. Finnish
Results: there is no root folder visible, to get back (see picture)

![testing_080516_dont let back to usb root](https://cloud.githubusercontent.com/assets/17190958/15098844/51d3b790-1

[2016-05-08 16:12] jlauha commented on #34
Also noted here: https://github.com/rameplayerorg/rameplayer-webui/issues/32

[2016-05-08 16:47] TaruVare opened #35 "BUG: Edited playlist name is changed back to the old name after reboot"
Test case: Rename saved playlist

Steps to reproduce:
1. Create a saved playlist

![080516_saved playlist](https://cloud.githubusercontent.com/assets/17190958/15099094/3ccd17b4-1555-11e6-8432-b196f6a2fef6.PNG)
1. Rename playlist

![080516_renamed playlist](https://cloud.githubusercontent.com/assets/17190958/15099095/422e8404-1555-11e6-98d2-04a7ae918343.PNG)
1. Reboot RaMe player
2. Changed playlis

[2016-05-10 07:47] iqqmuT commented on #35
Backend returns error 404 when editing playlist properties. Apparently this function is missing from backend?

[2016-05-14 11:17] HassuX opened #36 "BUG: rame 'freaks out' if you insert 'empty' USB-disk"
Conditions:
- USB-autoplay is on
- There is only 'System Volume Information' (and .rameplaylists.json) on USB-disk
- You reboot rame with usb-connected or insert usb

Symptoms:
- green and yellow LED are on in local-ui
- if USB-disk was inserted when rame was already on, on-screen display shows 'stopped box' in down left corner
- is USB disk is inserted while rame boots-up, there reads 'System vol

[2016-05-14 11:31] HassuX opened #37 "Feature request: There should be info message if stream is not available"
If stream is not responding, there should be some info message shown in at least some of these:
- video output
- local screen
- web-ui

[2016-05-14 11:34] HassuX opened #38 "Feature request: format checking in playlist stream url"
You can input about anything to URL field and it's accepted, there should be some kind of format checking on that field.

[2016-05-14 11:36] HassuX opened #39 "Feature request: pause button should be disabled when playing from stream"
Pause button should NOT be disabled when using stream:
- it does stop video, but you are not able to continue watching if you don't first stop video, so it would be better to disable pause button.

[2016-05-14 11:49] fabled commented on #38
Not sure how much can be checked. The rameutil:// urils can have additional parameters, as well as the rtmp:// urls can have space delimited parameters for ffmpeg. Maybe initial proto:// could be checked, but that's about all.

[2016-05-14 11:52] fabled commented on #37
If stream is not available, you'll stay in buffering and eventually go back to stopped. Currently there is no simple way to get what the reason was. It would require patching or rewriting omxplayer. Showing anything on 'video output' goes against rest of the functional behavior, though having that as separate config option might work. But adding something to local screen / web-ui would be useful.

[2016-05-14 11:53] fabled commented on #39
Agreed. Though, some streams are pauseable. Usually only live streams are not pauseable, and I don't think we can easily detect them. Perhaps disable pause for 'rtmp' streams for now? On the other hand, e.g. HLS (http) streams should be pauseable.

[2016-05-14 11:55] HassuX commented on #38
I agree that it's not easy task to do that checking, but at least proto:// should be checked (maybe we should only allow http/https/rtmp ?)

[2016-05-14 11:55] viliman commented on #37
Does omxplayer return anything usefull that could be reffected on local ui?

[2016-05-14 12:02] HassuX opened #40 "Bug / feature request: autoplay of playlists"
Not actually sure if this is a bug or just a feature request (or are those just features) but anyways:
- Autoplay of playlists does not work if you have video files on USB-disk and playlist is saved on USB-disk (videofiles are priorized over playlist)
- Autoplay of playlist from USB does not work if autoplay is not enabled on settings (there should be some warning about this when you enable autopl

[2016-05-14 12:28] fabled commented on #37
It can be shown if it failed, or ended successfully. But other than that, not really.

[2016-05-14 12:31] viliman commented on #37
Just to confirm does it return failed if no stream? because that could be used to indicate something

[2016-05-14 12:35] viliman commented on #40
I will make separate issue over the 2 first items.. the 3rd one is feature and I guess nothing should be done with it?

[2016-05-14 12:46] fabled commented on #37
Depends on the exacts. But in the case the server is down, wrong dns name, or similar error condition would result in error code returned. However, rtmp server active accepting the connection but dropping it immediately might not return an error. Cannot remember for sure.

[2016-05-14 13:37] viliman commented on #37
Ok but anyway on these server down, wrong dns etc we could show something. Would @jlauha be interested on working with this on local ui

[2016-05-14 14:00] jlauha commented on #36
I'm able to reproduce this - backend process indeed becomes totally unresponsive in that case. Will try to investigate further...

[2016-05-14 14:18] fabled commented on #36
Probably gets stuck in the autoplay loop. Should add a failsafe mechanism that if RAME.main loop tries to play same item again during one cycle it stops autoplay mode.

[2016-05-14 14:48] fabled commented on #40
The way it works currently is not final.

The preference is:
1. usb disk autoplay list
2. usb disk autoplay all files in root
3. internal autoplay list

Especially with the goal that RAME booting without USB will play internal autoplay. If USB is attached, the playing is stopped and autoplay of USB is started. If USB is removed, the autoplay of internal autoplay list is restarted.

[2016-05-14 15:49] viliman commented on #40
ok thanks for clarifying I then make 3 issues to backend repo

[2016-05-14 16:09] jlauha commented on #36
Should be fixed in next build (backend issue: https://github.com/rameplayerorg/rameplayer-backend/issues/45)

[2016-05-14 16:11] viliman commented on #36
Thanks @jlauha  we are really agile here tonight. Assigning this back to verification can be closed when fix verified

[2016-05-14 16:18] viliman commented on #40
hopefully separating the issues helps and is somewhat correct..

1.and 3. bullet points: https://github.com/rameplayerorg/rameplayer-backend/issues/44
2. https://github.com/rameplayerorg/rameplayer-backend/issues/46

[2016-05-16 07:52] viliman commented on #28
What is the status at the moment?

[2016-05-16 08:01] iqqmuT commented on #28
Currently when exporting/importing cluster configuration from WebUI it includes devices and playlist synchronization data (only references, not actual playlists). Playlists are now persisted in backend so is there something more to be done?

[2016-05-16 08:04] viliman commented on #28
Don't know would be the honest answer :) Let's go with this version and verification team can make complain with a bug issue if thinks don't work as expected.

[2016-05-16 08:04] #28 closed, assigned to iqqmuT

[2016-05-18 08:34] Tuskajussi opened #41 "BUG: WebUI: Cluster/Playlist Syncronizing playlist opens the first syncronized playlist."
When you are adding more than one playlist to the syncronization of a cluster, adding a new one always opens the first one on the list on the right side instead of the one that was just added.
Ask for a videopresentation of the problem from someone that's in the Telegram Test group.

[2016-05-18 09:03] McLad76 opened #42 "BUG: WebUI: Firmware upgrade progress bar stops"
Firmware upgrade progress bar stops if you are upgrading multiple units in multiple browser tabs.

[2016-05-18 13:34] McLad76 commented on #24
This would be nice to have feature. Help pages should be made so that all UI languages can be supported.

[2016-05-18 13:45] HablasNapa opened #43 "BUG: Playlists: Removing lowest playlist removes the upper one also"
Removing the lowest playlist when 2 or more playlist are available also removes the upper one.

![step1](https://cloud.githubusercontent.com/assets/17044875/15360708/53e68e7a-1d17-11e6-8b4e-c94700800202.PNG)
![step2](https://cloud.githubusercontent.com/assets/17044875/15360707/53e382f2-1d17-11e6-9799-8675e01ac977.PNG)
![step3](https://cloud.githubusercontent.com/assets/17044875/15360709/53e83e78-1

[2016-05-18 13:58] HassuX commented on #36
Confirm that this is fixed in version 0.8.1

[2016-05-18 13:58] #36 closed, assigned to HassuX

[2016-05-18 14:03] viliman commented on #43
I assume that this is backend bug but please correct me if I'm wrong..

cc @iqqmuT

[2016-05-18 14:16] viliman commented on #24
This is splitted:
https://github.com/rameplayerorg/rameplayer-webui/issues/33
https://github.com/rameplayerorg/rameplayer-backend/issues/47

[2016-05-18 14:22] iqqmuT commented on #42
This happens because status queries are stopped when browser tab is not visible.
One possible fix would be to send status queries after upgrade starts, no matter if browser tab is visible or not.

[2016-05-18 14:46] HassuX commented on #25
Still the same with 0.8.1

And actually noticed following:
If you only have one DNS-server in static IP-settings, you cannot enable DHCP on web-ui. Gives error 'Type error: Cannot read property 'error' of null'. Don't remember if this was on earlier versions.

[2016-05-18 14:52] HablasNapa opened #44 "Feature request: Cluster: notification on when there is a main/slave playlist mismatch."
The setup:
Rame1 (main) and Rame2 (slave) have been correctly set up. Identical playlists exist and have been synchonized.

The scenario: On Rame2 the **local** playlist is changed by removing the second file and command of play is given from browser controlling the cluster from Rame1.

Both players will play the first file properly. When the second file is commanded to be played Rame2 will play t

[2016-05-18 14:58] HassuX commented on #20
Confirm with release 0.8.1

[2016-05-18 14:58] #20 closed, assigned to jlauha

[2016-05-18 15:19] HassuX opened #45 "BUG: Playlist storage shows always 'RAME'"
1. Create playlist -> save to USB disk
2. Edit saved playlist -> Storage shows 'RAME'

[2016-05-18 15:22] HassuX commented on #27
UI comment works in 0.8.1

[2016-05-18 15:22] #27 closed, assigned to foilharp

[2016-05-18 15:50] viliman commented on #45
cc @iqqmuT @TaruVare

[2016-05-18 16:39] fabled commented on #45
assigning for @iqqmuT for fixing webui

[2016-05-18 17:38] fabled commented on #34
fixed 0.8.1, please verify

[2016-05-18 17:40] fabled commented on #43
Btw. this is likely same bug as #12. Both issues should be fixed in the 0.8.2 firmware to come soon.

[2016-05-18 17:41] fabled commented on #45
webui should fixed now too, should be fixed in upcoming 0.8.2 image

[2016-05-18 19:24] viliman commented on #43
please verify

[2016-05-18 19:25] viliman commented on #45
Please verify

[2016-05-19 05:10] fabled commented on #12
relevant fix in 0.8.2, please verify

[2016-05-19 06:44] HassuX commented on #10
Addition to this, it's not possible to 'move' playlist between USB-disk and RAME.

So if you first save playlist to RAME, then edit it to save it to USB-disk, it actually does nothing.

[2016-05-21 18:21] TaruVare commented on #12
Version 0.8.2 don't have USB visible at all. I cannot proceed with testing, when all my test items were on USB.

[2016-05-22 09:03] HassuX commented on #25
Yet again UI has a bit changed on version 0.8.2:

Still getting error on saving settings if DHCP-server is enabled and secondary DNS-server in static IP-settings is empty.

Also, now after reboot all DHCP-server settings are cleared (in a way, better behavior since DHCP-server still does not work...)

[2016-05-22 09:44] HassuX opened #46 "BUG: USB-disks don't work"
USB-disk is not correctly recognized in in rame Web-UI.

When you insert USB-disk, behavior on UI is this:
![image](https://cloud.githubusercontent.com/assets/17140545/15453224/6fcfac82-2016-11e6-9206-4fee69e5bc88.png)

But, if you wait for some time (in this log case, about two minutes) it shows it correctly. Once it took about 10 minutes.

Log file is attached:
[rame_usb_log.txt](https://github.

[2016-05-22 11:48] viliman commented on #46
Blocker must be fixed and verified next week!

cc @iqqmuT @McLad76 @TaruVare

[2016-05-23 13:51] jlauha commented on #25
Might want to add file /etc/conf.d/udhcpd containing: UDHCPD_OPTS="-S" (udhcpd log to syslog)

[2016-05-23 14:05] jlauha commented on #25
The udhcpd seems to work when introducing a long enough delay ("sleep 5" or so) in /etc/init.d/udhcpd ... This is a hack - after this even service status query will sleep for a while first. [Edited]

It seems despite that udhcpd config has "need net" (provided by dhcpcd), udhcpd gets chance to start itself before eth0 is up.

Relevant log rows:
May 23 13:42:01 rame daemon.info dhcpcd[1121]: eth0:

[2016-05-23 14:22] McLad76 commented on #45
Works in 0.8.3

[2016-05-23 14:23] McLad76 commented on #43
Works in 0.8.3

[2016-05-23 14:24] McLad76 commented on #34
Works in 0.8.3

[2016-05-23 14:26] TaruVare commented on #34
Agree, this works now.

[2016-05-23 14:26] #34 closed, assigned to TaruVare

[2016-05-23 14:27] McLad76 commented on #31
Works in 0.8.3

[2016-05-23 14:29] McLad76 commented on #15
Works in 0.8.3

[2016-05-23 14:30] McLad76 commented on #12
Works in 0.8.3

[2016-05-23 14:53] TaruVare commented on #12
Agree, verified in IE 11, Firefox and Chrome

[2016-05-23 14:53] #12 closed, assigned to TaruVare

[2016-05-23 14:58] TaruVare commented on #43
This is the same bug as in issue #12
Issue is verified to be fixed in IE 11, Chrome and Firefox. This can be closed.

[2016-05-23 14:58] #43 closed, assigned to HablasNapa

[2016-05-23 15:01] TaruVare commented on #35
This issue still exists in 0.8.3. Issue is the same with any playlist editing, name and storage changed, or changing list as autoplay.

[2016-05-23 15:32] TaruVare commented on #10
Currently added items appear as the last on the list, but those disappear when rebooting Rame

[2016-05-23 15:34] viliman commented on #10
Need support from backend

[2016-05-25 12:31] jlauha commented on #25
This should be mostly fixed now with this commit in addition to the previous ones: https://github.com/rameplayerorg/rameplayer-alpine/commit/1547c326c58ee9494a811bc0e5bfc840e6e93f3d

There's still one remaining bug:
If dynamic IP was being used, and switching to static IP and dhcp server mode (at the same time), then  backend doesn't save the static ip settings.
Workaround: Change to static ip & f

[2016-05-25 13:01] #25 closed, assigned to viliman

[2016-05-25 19:53] #45 closed, assigned to HassuX

[2016-05-27 09:05] HassuX commented on #46
Tested in 0.9.0, works.

[2016-05-27 09:05] #46 closed, assigned to fabled

[2016-05-27 10:17] HassuX opened #47 "Feature request: Factory default IP-address"
Current behavior:
Device is set to use DHCP when booting for the first time
If there is are no DHCP-server in network, device uses APIPA address.

Request:
Change behavior so, that if there are no DHCP in the network and device is set to use DHCP-assigned IP-address, device will failback to some pre-defined ip-adderss, that then is needed to be changed (ex. 192.168.1.123)

Maybe needs some checks,

[2016-05-27 10:19] HassuX commented on #22
Tested with version 0.9.0, works.

[2016-05-27 10:19] #22 closed, assigned to McLad76

[2016-05-27 10:23] HassuX opened #48 "Feature request: more information to 'Factory reset' button"
It might be good idea to have following info/warnings on factory default button:
- Information that device will restart twice
- Information that device IP will also change (and will default to DHCP), and maybe some kind of reminder to check local display for current ip-address

[2016-05-28 15:51] viliman opened #49 "BUG: DNS should not be required in Admin settings"
You should be be able to config the network without DNS.

[2016-05-28 16:26] viliman opened #50 "Should we have the 720p50 mode as default in Next firmware (now it goes to autodetect)"
@McLad76 How do you feel?

@fabled @jlauha

[2016-05-28 16:51] viliman commented on #50
@McLad76 says no way!

[2016-05-28 18:03] viliman opened #51 "Notification in Web UI if someone connects to main player whois controlling the cluster"
For “configured by …” notification in Web UI. Would it be possible to get that notification for the main player as well (if some other laptop connects to it, in addition to actual cluster controller).

@jlauha for further info

[2016-05-29 06:24] viliman commented on #49
Yellow toaster might give user and indication that settings were not saved. Proposing to remove it.

[2016-05-29 07:47] eharkovs opened #52 "BUG: Unable to set continuous play when saving a playlist"
When a new playlist is saved with continuous play enabled, either to the device or to USB drive, the setting is not persisted - in the properties edit pop-up it is unchecked.

[2016-05-30 05:57] HassuX commented on #52
I can confirm this.

Create a playlist
Select "Continuous play, repeating all" (or "Play this when device starts" which will automatically select Coninuous play..)
Save playlist
Reboot device

After reboot, "Continuous play, repeating all" is no longer selected.

[2016-05-30 06:46] fabled commented on #52
Backend does not yet support this feature. Planned for this week.

[2016-05-30 11:07] jlauha opened #53 "Show list of controlling IPs if player is part of several clusters"
If device is part of more than one cluster, local UI and webUI could show a list of all the cluster-controller IPs (different machines which have a browser open with a cluster configuration, which might be different kind of cluster setup).

(Apparently currently the display will jump between the 2 or more IPs.)

[2016-05-30 12:55] viliman commented on #50
After some pressure he says ok

[2016-05-30 12:55] #50 closed, assigned to viliman

[2016-05-31 09:40] jlauha opened #54 "Local UI not working at first boot after fw upgrade"
After 0.9.1 fw upgrade and auto-reboot, local UI buttons didn't work. Stop led was properly "on" and rest of leds "off" though. Rotary worked for changing headphone volume.

After hard reboot (power off-on) everything worked fine again.

Not sure if this is any way connected to 0.9.1 -- might actually be an issue which has popped up before as well.

Unfortunately didn't happen to check the log bef

[2016-05-31 18:36] HassuX commented on #19
NTP works now.

But, if I set date & time manually & reboot device, it still has ntpd settings, ntpd starts, and it will change it's time from ntp server, so manual date & time does not stay, if there is ntp-server available and previously configured. You can, of course remove ntp server, then it words (ntpd tries to start, but crashes)

Don't know it this is intentionally like this or not?

Also

[2016-05-31 18:49] HassuX commented on #40
Comments from 0.9.1

If usb-disk is used, it prefers files, not playlist.

If there is only internal autoplay list, and device is rebooted, it tries to start playing stream automatically, but does it too early, since network is not ready yet. So it fails.

[2016-05-31 18:49] HassuX commented on #52
Works now with v0.9.1.

Did not seem to work with 'old' playlist, but when creating new playlist, it worked as it should.

[2016-05-31 18:49] #52 closed, assigned to nobody

[2016-05-31 19:01] jlauha commented on #19
With recent fw (0.9.x), timezone of the device is now changed to be in Helsinki timezone, and local lcd screen should show time using the device time ("UTC+0300 hh:mm:ss" currently).

WebUI shows UTC time (intentionally, as no timezone selection is implemented). Although it should be stated in the UI that it's UTC time.

I'm unable to reproduce local screen showing "UTC+0200", any more details on

[2016-05-31 19:13] HassuX commented on #19
Dummy me, you can reproduce it by giving date when normal time is used :)

So local ui actually shows it correctly, that part was bad testing..

[2016-05-31 19:17] TaruVare commented on #10
Fixed in 0.91

[2016-05-31 19:17] jlauha commented on #19
Thanks for checking.

That "configure time manually" setting is maybe a bit misleading if the ntp server address is left intact. But if player is not connected to internet, then the expected result is that ntp won't work (and shouldn't touch time), so the manual time setting should be a way to set device to correct time until it's connected to net.

[2016-05-31 19:18] TaruVare commented on #35
This issue is fixed in 0.91

[2016-05-31 19:18] #35 closed, assigned to fabled

[2016-05-31 19:22] TaruVare commented on #10
Sorry, not fixed 0.91

[2016-06-01 11:43] viliman commented on #19
Should this be dealed in webui show that if manual time is set no NTP information is send, because if NTP server is send the backend will take into use.

[2016-06-02 17:59] foilharp commented on #19
Adderessed in https://github.com/rameplayerorg/rameplayer-webui/commit/af8771a0315b78283ff5b066dd9d5ae755e6e187

[2016-06-04 16:42] HassuX commented on #19
WEB-ui now has comment that time is UTC, so for me, this can be closed. Misleading behavior about NTP settings might be discussed later if needed?

[2016-06-04 16:42] #19 closed, assigned to viliman

[2016-06-04 16:48] HassuX opened #55 "BUG: secondary DNS setting is does not show in web-ui after reboot"
If setting two DNS-servers, secondary is lost after reboot in web-ui.

So:
- You set secondary DNS-address and reboot
- After reboot, secondary DNS-address is in place at OS-level, but it does not show on web-ui
- If you now save settings again, without giving ip-address of secondary DNS again, you will only have one DNS-server in resolv.conf

It seems that web-ui does not read secondary dns serve

[2016-06-04 16:57] HassuX opened #56 "BUG: admin settings shows "Could not load list of firmwares available for upgrade.""
Even though I'm able to see list of firmwares and upgrade, admin settings page shows
'Could not load list of firmwares available for upgrade.'

![image](https://cloud.githubusercontent.com/assets/17140545/15800891/8075a672-2a8e-11e6-8556-943ff6947a02.png)

[2016-06-04 17:08] HassuX opened #57 "Annoying behavior: clicking save always want's to reboot device"
For user experience, it's a bit annoying that if I have not changed any settings, and I click 'save' button (for ex. just to make sure that I have not anything unsaved in device), it always asks me to reboot device.

This gives feeling that I actually had changed some settings, even if I have not.

This happens also when ip-address is static (some note was that this is known behavior when DHCP is

[2016-06-04 17:38] HassuX opened #58 "BUG: dhcp-server has some extra options that should be removed"
These three lines in /etc/udhcpd.conf should be commented out

option  msstaticroutes  10.0.0.0/8 10.127.0.1           # single static route
option  staticroutes    10.0.0.0/8 10.127.0.1, 10.11.12.0/24 10.11.12.1
option  0x08    01020304        # option 8: "cookie server IP addr: 1.2.3.4"

First two adds static routes to dhcp-client, last one I don't actually even exactly know what it does, but sh

[2016-06-04 18:08] HassuX opened #59 "BUG: settings, "Automatically play files from USB" checkbox misbehavior"
Select box does not behave correctly.

If this setting is not selected, and you try to select it, box is not filled with 'check' mark. It does change setting and saves it, but ui does not show it (also it does not show 'option saved' message).

When you reboot device, or refresh page, it shows setting correctly.

Deselecting checkbox works correctly.

Tested with multiple browsers (chrome, firefox

[2016-06-04 18:11] HassuX commented on #40
Behavior seems to be same with 1.0.0. Tries to start playing stream too early.

[2016-06-04 18:15] HassuX opened #60 "Feature request: DHCP settings"
For future releases of rameplayer, DHCP-server should have following features:
- Ability to show list of leases
- Ability to release leases from list
- Ability to change lease time

It would also be nice if leases are saved to sd-card, so it won't get cleared when device is rebooted.

[2016-06-05 09:17] foilharp commented on #56
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/a96391a16245166e602964b416e12adb2659e4e5

[2016-06-05 10:30] TaruVare opened #61 "BUG: Playlist: Remove item from worklist"
PL_MUST_5 Remove item from worklist

If any item is rearranged before another item is removed from the worklist, the rearranged item returns back to its original position in worklist.

Issue appears in all browsers.

Steps to reproduce:
1. Add several items to the worklist
2. Rearrange one item, e.g. last to first
3. Remove any another item
4. Rearranged item is returned back to original position

[2016-06-05 10:35] TaruVare commented on #10
IE and Firefox works now, but in Chrome there is a new issue:

Adding new item to the saved playlist, adds the same item to the list multiple times.

Steps to reproduce:
1. Add items to the work list
2. Create a saved play list
3. Add one new item to the work list
4. Drag and drop new item from the work list to the saved playlist
5. Added item appears multiple times to the saved play list. See scr

[2016-06-05 11:10] viliman commented on #61
cc @fabled

[2016-06-05 16:23] TaruVare opened #62 "Issue: autoplay list starts playing before "waiting for device to restart" dialog is closed"
Autoplay playlists begin playing before device is fully restarted and webui is back to responsive state

[2016-06-05 17:23] iqqmuT commented on #62
WebUI reconnects to the backend as fast as it can, so only solution here is to do something in backend:
- delay before autoplay starts
- get network connection up faster

[2016-06-05 17:55] iqqmuT commented on #10
Backend is not sending any HTTP status code when item is dropped to a new playlist:
`POST http://backend/lists/playlistid/items`

Not sure if that's the root cause of this bug but at least it needs to be fixed.

[2016-06-05 18:04] iqqmuT commented on #61
Moving items inside work list is broken, you can try also:
1. Add several items to the worklist
2. Rearrange one item
3. Reload the page
4. Items are back in original order.

Backend returns HTTP status code `405 Method Not Allowed` when WebUI sends
`PUT http://backend/lists/default/items/itemid` with payload `{ afterId: null }`

[2016-06-05 18:21] fabled commented on #62
It is working as designed. The webui can be closed after reboot request (or network cable can be disconnected after config is done), and the device is expected to start autoplaying. There's no point to wait for webui during startup.

[2016-06-05 18:21] #62 closed, assigned to iqqmuT

[2016-06-05 19:31] foilharp commented on #59
Addressed in https://github.com/rameplayerorg/rameplayer-webui/commit/c2d476225f259d517b77bc4435201bf97dd221bd

[2016-06-06 10:32] jlauha commented on #55
Fixed in https://github.com/rameplayerorg/rameplayer-backend/commit/9220e12ca441a09d85b05f119acace5467cee2e1

[2016-06-06 10:40] fabled commented on #5
We have not been able to reproduce this. Please re-open if someone can reproduce with recent firmware version.

[2016-06-06 10:40] #5 closed, assigned to nobody

[2016-06-06 12:07] iqqmuT commented on #10
Commit above seems to fix the bug appeared on Chrome

[2016-06-07 08:30] Helppu opened #63 "BUG: Skipping video while players are on cluster, and delay countdown is still counting, the backup tilts"
As stated in the title.

[2016-06-07 14:34] TaruVare commented on #61
Fixed in 1.0.3

[2016-06-07 14:34] #61 closed, assigned to fabled, iqqmuT

[2016-06-07 14:35] TaruVare commented on #10
Fixed in 1.0.3

[2016-06-07 14:35] #10 closed, assigned to fabled, iqqmuT

[2016-06-08 13:26] Tuskajussi opened #64 "FEATURE REQUEST: Adding main player to the cluster would give error/be impossible"
At the moment you could add the main player to the cluster with a delay by accident, which would maybe be a bit confusing if the person using the cluster isn't the one that created it.

Would it give an error and delete the cluster entry? or just a warning?

[2016-06-08 16:32] HassuX commented on #58
fixed on 1.0.3

[2016-06-08 16:32] #58 closed, assigned to jlauha

[2016-06-08 16:33] HassuX commented on #56
fixed on 1.0.3

[2016-06-08 16:33] #56 closed, assigned to foilharp

[2016-06-08 17:01] jlauha opened #65 "Saving settings may take long time"
(fw 1.0.3)
When device is using dynamic ip, and changing it to use static ip settings, it takes long time until the "Admin settings saved" toaster appears in WebUI.

Apparently this is because backend will now restart dhcpd on the fly, and IP settings will be renewed - and that takes several seconds. (before latest fw versions the change just required a reboot)

Suggestion: Perhaps WebUI could vis

[2016-06-08 17:04] HassuX commented on #59
Fixed on 1.0.3

[2016-06-08 17:04] #59 closed, assigned to foilharp

[2016-06-08 17:07] HassuX opened #66 "BUG: saving admin settings does not require reboot when changing dhcp-server settings"
When you change dhcp-server settings and save them, rame does not ask you to reboot device, even though it is required before settings are applied (read: before dhcp-server is starter or stopped)

[2016-06-08 17:20] jlauha commented on #66
oops, accidentally auto-closed the issue; reopening to left open until validated with a new FW version...

[2016-06-09 07:51] HassuX commented on #66
Fixed in release 1.0.4 (does not require autoboot, saving change service status)

[2016-06-09 07:51] #66 closed, assigned to nobody

[2016-06-09 07:52] HassuX commented on #57
Behavior is now much better, closed
v. 1.0.4

[2016-06-09 07:52] #57 closed, assigned to nobody

[2016-06-09 07:53] HassuX commented on #55
Fixed (v.1.0.4)

[2016-06-09 07:53] #55 closed, assigned to nobody

[2016-06-10 10:46] #63 closed, assigned to fabled

[2016-06-12 06:19] eharkovs opened #67 "Localization not applied to 'Firmware upgraded' toast title"
Firmware versions tested 1.0.3, 1.0.4
Steps to reproduce:
- Set any other language than English (fi/ru)
- Upgrade firmware to a different version
- Upon reconnect, firmware upgrade message is shown with text in target language, but the title is in English

Saw in source that the message is saved to local storage, so maybe the title also can be saved to local storage, so that it is translated prope

[2016-06-12 06:49] viliman commented on #67
Thanks for the clear issues report!

[2016-06-15 09:50] iqqmuT commented on #42
Same bug in Restart modal dialog.

[2016-06-16 11:51] iqqmuT opened #68 "A way to verify media files are not corrupted"
This could be done for example by using md5sum tool (https://en.wikipedia.org/wiki/Md5sum#Examples)

Ways to provide md5sum check file:
- check list is a special file in the directory
- letting user to enter check list via WebUI
- check list is downloaded from a server

Md5sum check could be triggered from WebUI per directory.

[2016-06-17 13:50] iqqmuT opened #69 "Subdirectory in USB memory seems to be empty"
Sometimes a subdirectory in USB memory seems to be empty in WebUI even though there are files. Moving to upper directory and back to the subdirectory helps.

[2016-07-01 13:09] jlauha opened #70 "Timezone setting"
Add possibility to set timezone of the device to the Web UI & backend.

Currently all devices are hardcoded to "Europe/Helsinki" timezone by default.

[2016-12-15 21:41] iqqmuT opened #71 "Visualize data being written to media"
User should be able to see (WebUI / local UI) if it is safe to switch off RamePlayer device. When any filesystem (`/media/mmcblk0p1`, `/media/sd*`) is mounted as read-write, backend should inform about it. Backend could indicate which filesystem is mounted as read-write.

[2017-05-09 15:18] jlauha commented on #71
Implemented for local-ui by https://github.com/rameplayerorg/rameplayer-backend/commit/5bbc4ce1ec202fb84a7a1dc5d44d454d830d60a5

WebUI part is still pending.

[2017-05-09 15:21] jlauha commented on #70
Implemented in
- https://github.com/rameplayerorg/rameplayer-backend/commit/5042fffbd71cfd3e7b8aed9bf1ac3fea67c8eed6
- https://github.com/rameplayerorg/rameplayer-webui/commit/374983015117725045d61e3a70b4eb81ccff39a8
- https://github.com/rameplayerorg/rameplayer-webui/commit/3a6d2a24e303810b6cccd56c92124381b62e1bfa
- https://github.com/rameplayerorg/rameplayer-alpine/commit/7df2e4eb66945b2e37b4400

[2017-05-09 15:21] jlauha commented on #70
Leaving opened so that this can be verified in testing & closed after that.

[2017-05-09 15:32] jlauha opened #72 "Dropbox sync deletes existing files"
Enabling Dropbox sync **deletes** all existing files from the USB media, replacing the whole directory contents with the single folder synchronized from Dropbox.

When trying the Dropbox feature for first time, my initial expectation was that the Dropbox-synced folder would be added alongside the existing files, so all files being deleted was bit of a surprise.

Naturally deleting all the other fi

[2017-05-09 15:36] jlauha commented on #54
Same thing still seems to potentially happen after firmware upgrades, and the same fix still seems to appliy: hard power-cycle (power off, power on).

[2017-05-29 16:35] HassuX opened #73 "Analog PAL / NTSC setting in video resolution dropdown"
Rame shows Analog PAL and Analog NTSC options in dropdown menu.

If you choose one, it does not allow you to save.

Should there at least be a information that it's not yet implemented, or maybe it should not even show it?

[2017-05-29 16:40] HassuX opened #74 "Gateway setting allows you to set gateway that is not in same subnet as IP-address"
It would be a nice thing to have a syntax checker that verifies that gateway entered is allowed.

If you enter gateway address that is outside of the subnet where ip-address is, it does not give you any error / warning, just says that settings are saved. It should give an error.

[2017-05-29 16:42] HassuX opened #75 "DNS settings are not saved if only secondary dns server is given"
If you enter only secondary dns server, it will seems to save settings ok, but in fact, it does not.

It does not set any DNS servers to /etc/resolv.conf, and actually removes if there were any, when only secondary is entered. So, it behaves the same way, as there is no dns server entered at all.

[2017-06-01 22:06] jlauha opened #76 "Cannot upload to root level of internal rame"
If the rame tab is selected, there are the default choices but upload doesn't work for that folder. However, if separate media/ folder is added there (to sd card, e.g. using ssh shell), then upload works to that folder. (Maybe needs to be that way due to technical reasons.)

Suggestions:
- include an empty media/ folder in the firmware by default.
- show warning in webui if trying to upload to the

[2017-06-14 11:39] Helppu opened #77 "A slight problem with F10 shortkey on Firefox"
When using the shortkeys on Firefox, F8 and F9 work fine, but when stopping video with F10, it also opens/selects the File bar, and F8 and F9 wont work unless F10 is pressed again, closing/deselecting the File bar.

Tested this also on Chrome and Edge, they work fine though.

[2017-06-14 12:32] Helppu opened #78 "The entry for moving to upper directory breaks down in local file browser when adding video to the top of the playlist."
1. Create a playlist with 1 or more items
2. Open the playlist on the local file browser
3. Add a video to the TOP of the playlist on a web browser
4. Try to go back using the .. button with the local file browser

The added video kind of goes behind the .. button and disables it.

[2017-06-14 13:02] Helppu opened #79 "Adding videos to a cluster by dragging bugs a bit."
1. Add a video by dragging to the bottom of the playlist on the main
2. Add a video by dragging to the bottom of the playlist on the slave
3. Refresh the main
4. Cluster shows that video was added on the main playlist as a 3rd entry, but on the slave playlist as 4th entry. The 3rd entry, that should be the video, is a placeholder empty entry.

Does the same thing even if the video is added 1st to

[2017-06-14 13:26] jlauha commented on #78
Most probably related to https://github.com/rameplayerorg/rameplayer-backend/issues/52

[2017-12-04 08:34] jlauha commented on #78
Should be fixed now, coming to a future firmware version (probably 1.2.x or something).